@page "/"
@using DependencyInjectionTests.ResolvingDeps.BlazorWasmApp.Services
@inject IdGenerator IdGenerator

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<p>@IdGenerator.NewGuid</p>

<SurveyPrompt Title="How is Blazor working for you?"/>